#container {
    border: 1px solid black;
    width: 750px;
    height: 750px;
    margin-left: 575px;
    display: flex;
    flex-direction: column;
}

.row {
    
    height: 100%;
    display: flex;
}
.column{
    border: 1px solid black;
    flex: 1;
}